# Environment
FLASK_ENV="development"

# Flask secret key
SECRET_KEY=superflasksecret
JWT_SECRET_KEY=superjwtsecret

# Database URI 
SQLALCHEMY_DATABASE_URI=sqlite:///database.sqlite3

# Screat key for CSRF Tokens
WTF_CSRF_SECRET_KEY=supercsrfsecret

# Mail config
MAIL_SERVER=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=