# Flask secret key
SECRET_KEY=

# Database URI 
SQLALCHEMY_DATABASE_URI=

# Screat key for CSRF Tokens
WTF_CSRF_SECRET_KEY=

# Mail config
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=