# Environment
FLASK_ENV="development"

# Flask secret key
SECRET_KEY=9b71726f81488e32bbf9abb3866e709a54d6b7a2c4b813520cc7df98e5814582
JWT_SECRET_KEY=2c489dc356daec989a955e837dd5d902be9ba7b44cdf0dbfc9f5fafe01323a41
# Database URI 
SQLALCHEMY_DATABASE_URI=sqlite:///database.sqlite3

# Screat key for CSRF Tokens
WTF_CSRF_SECRET_KEY=522c11eceee647e033246fa0c9a05bb81e7c57155a8c6b522c0bddb673d9abd4

# Mail config
MAIL_SERVER=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=